:root {
    --bullet-origin-x: 0px;
    --bullet-origin-y: 0px;
    --bullet-destiny-x: 0px;
    --bullet-destiny-y: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.start, .level {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: grid;
    place-content: center;
    z-index: 2;
}

.level {
    display: none;
}

.title {
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 4px #000;
    font-size: 2.5rem;
}

.container {
    position: relative;
    width: 800px;
    height: 100vh;
    overflow: hidden;
    background: url("../img/background.png");
    background-size: cover;
}

.player {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: transparent;
    left: 300px;
    bottom: 0;
    z-index: 1;
}

.damage {
    filter: sepia(75%);
}

.enemy {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: transparent;
    rotate: 180deg;

    animation: enemy 5s linear infinite;
}

@keyframes enemy {
    0% {
        top: -200px;
    }

    100% {
        top: 100%;
    }
}

.bullet {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #232222;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: 75px;
    transition: transform 1.5s linear;
}