:root {
    --bullet-origin-x: 0px;
    --bullet-origin-y: 0px;
    --bullet-destiny-x: 0px;
    --bullet-destiny-y: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.start, .level, .defeat, .statistics, .bestLevel {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: grid;
    place-content: center;
    z-index: 2;
}

.level, .defeat, .statistics, .bestLevel {
    display: none;
}

.statistics {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levels {
    width: 600px;
    height: 348px;
    display: flex;
    flex-direction: column;
}

.levels li {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-bottom: 1rem;
}

.levels li .hits {
    color: rgb(255, 177, 177);
}

.title {
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 4px #000;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.container {
    position: relative;
    width: 800px;
    height: 100vh;
    overflow: hidden;
    background: url("../img/background.png");
    background-size: cover;
}

.player {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: transparent;
    left: 300px;
    bottom: 0;
    z-index: 1;
}

.damage {
    filter: sepia(75%);
}

.enemy {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: transparent;
    rotate: 180deg;

    animation: enemy 5s linear infinite;
}

@keyframes enemy {
    0% {
        top: -200px;
    }

    100% {
        top: 100%;
    }
}

.bullet {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: 75px;
    transition: transform 1.5s linear;
    display: grid;
    place-content: center;
}